@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0;
}

hr {
    border-top: 1px solid hsla(240, 5%, 91%, 0.2);
}

h1 {
    color: hsl(237, 12%, 33%);
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 34px;

    @media (min-width: 768px) {
        text-align: start;
    }
}

.attribution {
    color: hsl(0, 0%, 100%);
    font-size: 11px; 
    text-align: center;
    margin-top: 100px;
    
    a { 
        color: hsl(228, 45%, 44%); 
    }
}

.container {
    position: relative;
    background: hsl(0, 0%, 100%);
    border-radius: 1rem;
    margin: 148px auto 0;
    width: 327px;
    
    @media (min-width: 768px) {
        width: 920px;
        flex-flow: row-reverse nowrap;
        margin: 0 auto;
    }
}

.box {
    display: none;
    position: relative;
    height: 184px;
    width: 191px;
    background-image: url("./images/illustration-box-desktop.svg");
    top: 39%;
    left: 11.5%;
    z-index: 3;

    @media (min-width: 768px) {
        display: block;
    }
}

.logo {
    background-image: url("./images/illustration-woman-online-mobile.svg");
    height: 196px;
    width: 266px;
    transform:translate(-50%,-50%);
    position: fixed;
    top: 15%;
    left: 45%;
    z-index: 2;
    
    @media (min-width: 768px) {
        background-image: url("./images/illustration-woman-online-desktop.svg");
        top: 44%;
        left: 28%;
        height: 359px;
        width: 472px;
        clip-path: inset(0 0 0 19.5%);
    }
}

.shadow {
    background-image: url("./images/bg-pattern-mobile.svg");
    position: fixed;
    left: 16.5%;
    height: 104px;
    width: 240px;
    z-index: 1;

    @media (min-width: 768px) {
        background-image: url("./images/bg-pattern-desktop.svg");
        height: 945px;
        width: 966px;
        left: -22.5%;
        top: -10.5%;
        clip-path: inset(30.6% 0 0 60%);
    }
}

.content {
    margin: 0 24px;
    padding-top: 150px;
    padding-bottom: 50px;
    
    @media (min-width: 768px) {
        padding: 50px 50px 50px 460px;
    }
}

.toggle {
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    margin-top: 20px;
    cursor: pointer;
    color: hsl(237, 12%, 33%);
    

    &.active {
        font-weight: 700;
        color: hsl(238, 29%, 16%);
    }
    
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &:hover {
        color: hsl(14, 88%, 65%);
    }
}

.icon {
    height: 7px;
    transition: transform 0.2s ease-in-out;
}

.panel {
    color: hsl(240, 6%, 50%);
    max-height: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}
