@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  height: 100vh;
  margin: 0;
  padding-top: 150px;
}

@media (min-width: 768px) {
  body {
    padding-top: 130px;
  }
}

hr {
  border-top: 1px solid rgba(231, 231, 233, 0.2);
}

h1 {
  color: #4a4b5e;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 34px;
}

@media (min-width: 768px) {
  h1 {
    text-align: start;
  }
}

.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
  margin-top: 100px;
}

.attribution a {
  color: #3e52a3;
}

.container {
  position: relative;
  background: white;
  border-radius: 1rem;
  margin: 0 auto;
  width: 327px;
}

@media (min-width: 768px) {
  .container {
    width: 920px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
  }
}

.box {
  display: none;
  position: absolute;
  height: 184px;
  width: 191px;
  background-image: url("./images/illustration-box-desktop.svg");
  top: 240px;
  left: -93px;
  z-index: 3;
}

@media (min-width: 768px) {
  .box {
    display: block;
  }
}

.logo {
  background-image: url("./images/illustration-woman-online-mobile.svg");
  height: 196px;
  width: 266px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  bottom: 435px;
  left: 150px;
  z-index: 2;
}

@media (min-width: 768px) {
  .logo {
    background-image: url("./images/illustration-woman-online-desktop.svg");
    bottom: -128px;
    left: 146px;
    height: 359px;
    width: 472px;
    -webkit-clip-path: inset(0 0 0 90px);
            clip-path: inset(0 0 0 90px);
  }
}

.shadow {
  background-image: url("./images/bg-pattern-mobile.svg");
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 104px;
  width: 240px;
  left: 165px;
  bottom: 470px;
  z-index: 1;
}

@media (min-width: 768px) {
  .shadow {
    background-image: url("./images/bg-pattern-desktop.svg");
    height: 945px;
    width: 966px;
    left: -100px;
    bottom: -643px;
    -webkit-clip-path: inset(255px 0 0 580px);
            clip-path: inset(255px 0 0 580px);
  }
}

.content {
  margin: 0 24px;
  padding-top: 150px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .content {
    padding: 50px 50px 50px 460px;
  }
}

.toggle {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  margin-top: 20px;
  cursor: pointer;
  color: #4a4b5e;
}

.toggle.active {
  font-weight: 700;
  color: #1d1e35;
}

.toggle div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle:hover {
  color: #f47c57;
}

.icon {
  height: 7px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.panel {
  color: #787887;
  max-height: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */